
<h3>Etudiant résident Hors-Paris</h3>


<div class="button-div">
    <button routerLink="/etudiant">Etudiants</button>
    <button routerLink="/etudiant-paris">Etudiants résident à Paris</button>
    </div>

<div class="container">
    <div class="fullbox" *ngFor="let etudiant of tabetu" >
        <div class="box">
          <p style="font-weight: bold;">{{etudiant._nom}} {{etudiant._prenom}}</p>
        </div>
    
        <div class="box">
          <p>Adresse : 
          {{etudiant._rue}}, {{etudiant._cp}}, {{etudiant._ville}} </p>
    
        </div>
  
          <div class="box">
            <p >Genre : {{etudiant._genre}}</p>
    
          </div>
          <div class="box">
            <p >Age : {{etudiant._age}}</p>
          </div>
        </div>
      
      
    
    </div>